fastapi
uvicorn
requests
PyMuPDF
langchain
google-generativeai
sentence-transformers
faiss-cpu
langchain-community
gunicorn

# Force a smaller, CPU-only version of torch to save memory during build and runtime
--find-links https://download.pytorch.org/whl/cpu
torch